
# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# IDE files
.idea/
.vscode/

# Other
*.iml
*.hprof
*.log
*.pid
*.seed
*.sublime-project
*.sublime-workspace

# Server
server/data/
server/node_modules/
